body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {

  font-size: 3rem;
  color: #a1a2a3;
}

.buffer{
  height: 200px;
}

hr {
    margin: 20px auto;
    color: #F05F44;
    border: 2px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}
.btn{
  font-weight: 600;
  border-radius: 200px;
  text-transform: uppercase;
  background: none
}
.btn-primary{
  background-color: #049393;
  border-color: #049393;
}
.btn-primary:hover{
  background-color: #005A5A;
  border-color: #005A5A;
  border-width: 3px;
}

.btn-xl{
  padding: 1rem 2rem;
}
